* {
    margin: 0;
    padding: 0;
    color: aliceblue;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: rgb(29, 36, 61);
}

.navbar {
    display: flex;       
    padding: 0 2rem;
    gap: 50%;
    height: 50px;
    width: auto;
    background-color: rgb(55, 68, 116);
    border-bottom: 2px solid rgb(29, 36, 61);
}

.nav-links {
    display: flex;
    gap: 15%;
    align-items: center;
    height: 100%;
    font-weight: 600;
    list-style: none;
    text-decoration: none;
}

.logo-img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-top: 5px;
}